{% extends 'base.html' %}

{% block status %}
    <div id="status">
        <div class="container">
            <h2>Currently Seeking Employment</h2>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="two-col">
        <div class="column">
            <h2><a id="intro">Introduction</a></h2>
            <p>Barry has a background in art, design, typography...</p>
        </div>
        
        <div class="column">
            <h2><a id="skills">Strengths</a></h2>
            
            <ul>
                <li>Visual Design</li>
                <li>Typography</li>
                <li>Front-End Web Development</li>
            </ul>
        </div>
    </div>
    
    
    <div class="section-header">
        <h2><a id="skills">Skills</a></h2>
    </div>
    
    
    <div class="two-col">
        <div class="column">
            <h3>Identity / Branding / Logo Design</h3>
            
            <p>Samples will go here.</p>
            
            <p><strong>Software:</strong> Adobe Photoshop, Illustrator, InDesign</p>
        </div>
        
        <div class="column">
            <h3>Print</h3>
            
            <ul>
                <li>Capabilities Publications</li>
                <li>Advertising &amp; Marketing</li>
                <li>Annual Reports</li>
                <li>Newsletters</li>
                <li>Packaging / Hangtags</li>
            </ul>
            
            <p>Samples...</p>
        </div>
    </div>
    
    
    <div class="two-col">
        <div class="column">
            <h3>Web Design</h3>
            
            <ul>
                <li>Site Planning / Information Architecture</li>
                <li>Art Direction / Design</li>
                <li>Front-End Development: HTML5, SCSS, JQuery</li>
                <li>Semantic / Responsive</li>
                <li>SEO</li>
                <li>Version Control</li>
                <li>Djange Templates</li>
                <li>PHP</li>
            </ul>
        </div>
        
        <div class="column">
            <h3>Front-End Web Development</h3>
            
            <p>My talent lies in writing highly organized semantic html markup and hand-coding stylesheets for responsive websites.</p>
            
            <h4>Front-End Code Samples</h4>
            
            <p><strong>Tools:</strong> Coda, Compass, Git...</p>
            
            <h4>URLs</h4>
            
            <ul>
                <li>Reconstructure <abbr>LLC</abbr>:
                    <a href="http://www.reconstructure.com" title="Reconstructure LLC: Interior Architecture, Interior Design - Providence, RI">www.reconstructure.com</a></li>
                <li>Cosmos Creative: 
                	<a href="http://www.cosmoscreative.com" title="Cosmos Creative: Original Art &amp; Design for Licensing">www.cosmoscreative.com</a></li>
                <li>MKI: Mercier &amp; Kosinski Insurance: 
                	<a href="http://www.mkiagency.com/" title="MKI: Mercier &amp; Kosinski Insurance">www.mkiagency.com</a></li>
                <li>NLX Music: 
                	<a href="http://www.nlxmusic.com/" title="NLX">www.nlxmusic.com</a></li>
            </ul>
        </div>
    </div>
    
    
    <div class="section-header">
        <h2><a id="testimonials">Testimonials</a></h2>
        <h3>Kind Words from Satisfied Clients and Employers</h3>
        <p>Read some reviews from some of my satisfied clients...</p>
    </div>
    
    
    <div class="two-col">
        <div class="column">
            <blockquote>&ldquo;Barry consistently meets our most unreasonable deadlines, delivering top-quality work just when we need it most. As far as I&rsquo;m concerned, he is the only choice for our visual design projects. He always gets it right the first time, and his turnaround time is fast.&rdquo;</blockquote>
            <cite>Jeff Healey: Product Marketing Manager, Axeda Corporation</cite>
            
            <blockquote>&ldquo;Barry is a true professional that has mastered the process of working with a client &ndash; from capturing the initial requirements of a project, to providing compelling concepts, to delivering excellent final designs. I also feel very confident that any project assigned will come in on time and on budget.&rdquo;</blockquote>
            <cite>Christian Merhy: Managing Director &amp; Founder, Invado Group, Inc.</cite>
        </div>
        
        <div class="column">
            <blockquote>&ldquo;Barry is an exceptional thinker and graphic designer. He has a quiet strength that everyone recognizes. Barry has been one of the best employees and friends I have ever known. He is a 10 star individual in a 5 star world.&rdquo;</blockquote>
            <cite>Kenn Boostrom: Visual Executive Officer, Hotwire, Inc.</cite>
            
            <blockquote>&ldquo;Barry, [the current website development project] looks beautiful on all fronts and I really appreciate you stepping up and making it look outstanding! I know it was a tough one.&rdquo;</blockquote>
            <cite>Seth Burke, Project Evolution</cite>
        </div>
    </div>
    
    
    <div class="default-columns">
        <div class="column">
            <h2><a id="background">Background</a></h2>
            
            <h3>Work Experience, Education</h3>
            
            <ul>
                <li><strong>Designer, Front-End Developer</strong> - Project Evolution - Providence, RI</li>
                <li><strong>Principle, Designer, Developer</strong> - Solid Uncoated - Providence, RI</li>
                <li><strong>Senior Visual Designer</strong> - Hotwire, Inc. - N. Dighton, MA</li>
                <li><strong>In-House Graphic Designer / Prepress</strong> - Sunderland Printing - Hyannis, MA</li>
                <li><strong>BFA in Graphic Design &amp; Letterform</strong> - UMass, Dartmouth</li>
            </ul>
            
            <p>I graduated from the University of Massachusetts, Dartmouth in 2000 with a Bachelor of Fine Arts degree in Graphic Design &amp; Letterform where I learned about all the important elements of design, including form, color, typography, layout, etc.</p>
            <p>I started my professional design career as an in-house Graphic Designer at Sunderland Printing in Hyannis, MA. After that, I worked for over 5 years as a Junior-turned-Senior Visual Designer at Hotwire, an Advertising &amp; Design Agency based in Providence, RI.</p>
            <p>During this time, I was able to further develop my skills in print design as well as design for the ever-growing web. Since then, I have been increasingly interested in web design and front-end web development.</p>
            <p>For more information about me, check out my professional <a href="http://www.linkedin.com/in/barryjmenard">LinkedIn Profile</a>.</p>
    	
            <!--p>You can also <a href="http://twitter.com/BarryMenard" title="Follow Barry Menard on Twitter">follow me on Twitter</a>.</p-->
            
            
            <h2><a id="other">Other Interests</a></h2>
            
            <h3>Music</h3>
            
            <p>Aside from web development, I also play guitar, bass, sing, and have written many original songs. I've been in a few bands and am currently playing with <a href="http://www.getsweetlove.com/" title="Sweet Love - stoner-rock, fuzz, doom band in Providence, RI">Sweet Love</a> - a 3-piece stoner-rock, fuzz, doom project based out of providence. Check out the <a href="http://www.getsweetlove.com/" title="Sweet Love - stoner-rock, fuzz, doom band in Providence, RI">Sweet Love band website</a> or the <a href="http://www.getsweetlove.com/" title="Sweet Love, the band, is on facebook">Sweet Love Facebook page</a> for more info.</p>
        </div>
    </div>
    
    
    <div class="two-col">
        <div class="column">
            <div class="module">
                
            </div>
        </div>
        
        <div class="column">
        </div>
    </div>
    
    
    <div class="default-columns">
        <div class="column">
            
        </div>
    </div>
{% endblock %}