@import "base";
@import "functions";
@include html5boilerplate_reset;
@import "mixins";



/* Main CSS styles for linear content. Design for Mobile first! */



/* Global Typographic and Element Styles */

html {
    min-height: 100%;
    margin-bottom: 1px;
    background-color: #eee;
}

body {
    color: $default-color; 
    background-color: transparent; 
}

body, input, textarea, select, button {
    font: normal 100%/1.75 $default-font; 
    font-weight: 300; 
    
    .lt-ie9 {
        font: normal 100%/1.75 $default-font; 
    }
}

a, a:active, a:visited {
	color: $link-color;
	text-decoration: underline;
}

a:hover, a:visited:hover {
	color: $link-hover;
	text-decoration: none;
}

a:before:hover, a:before:focus {
    text-decoration: none;
}

img {
    display: block;
    margin: 0 auto;
}

img, embed, object, video {
	max-width: 100%;
}

header, section, article, aside, footer, figure, div, ul, ol, li {
    @include box-sizing( border-box );
}

/* Set the highlight colors. These selection declarations have to be separate */
::-moz-selection { background: $link-color; color: contrast-color($link-color); text-shadow: none; }
::selection { background: $link-color; color: contrast-color($link-color); text-shadow: none; }
a:link { -webkit-tap-highlight-color: $link-hover; }

.giga { @include adjust-font-size( $giga ); }
.mega { @include adjust-font-size( $mega ); }
.kilo { @include adjust-font-size( $kilo ); }

h1, .alpha   { @include headerone;   }
h2, .bravo   { @include headertwo;   }
h3, .charlie { @include headerthree; }
h4, .delta   { @include headerfour;  }
h5, .echo    { @include headerfive;  }
h6, .foxtrot { @include headersix;   }

h2, .bravo {
    //@include adjust-font-size(14px);
    // color: #999;
    
    a {
        &, &:link, &:visited,
        &:hover, &:active, &:focus {
            // color: #999;
            text-decoration: none;
        }
    }
}

h3:first-child {
    margin-top: 0;
}

p {
    // @include adjust-font-size(18px);
    // line-height: 1.4em;
}



blockquote {
    @extend %subtle-box;
    border-left: 3px solid lighten($gold, 20%);
    font-style: italic;
    
    em {
        font-style: normal; 
    }
}

.call-to-action {
    @extend %subtle-box;
    @include border-radius(10px);
}

ul, ol {
    margin-left: 1.5em;
}

dl {
    border-left: 1px solid $grey-lighter; 
    border-right: 1px solid $grey-lighter; 
    border-bottom: 1px solid $grey-lighter; 
    
    dt, dd {
        padding: .25em .75em .125em; 
    }
    dt {
        font-weight: bold; 
        border-top: 1px solid $grey-lighter; 
        border-bottom: 1px solid $grey-lighter; 
    }
    dt + dt {
        border-top: 0; 
    }
    dd {
        margin-left: 1.5em; 
    }
}

hr { border-top: 1px solid $grey-lighter; }  


/* Form Elements */

form {
    @include pie-clearfix(); 
}

label {
    display: inline-block; 
    color: $grey-light; 
    @include leader(.25); 
}

input, textarea {
    width: 92%;
}

input, textarea, button, .button, a.button, .label {
    padding: .25em .75em .25em;
}

input {
    color: $default-color; 
    
    /*modernizr*/ .no-touch &:focus {
        @include box-shadow( 0px 0px .75em rgba( 0,0,0,0.2 ) ); 
    }
    /*modernizr*/ .no-touch &[required=required]:focus {
        @include box-shadow( 0px 0px .75em rgba( 255,0,0,0.5 ) );
    }
}

input[type=checkbox], input[type=radio] {
    width: auto; 
    border: none; 
    margin-right: .75em; 
}

::-webkit-input-placeholder  { color: $grey-light; font-style: italic; }
::-moz-placeholder { color: $grey-light; font-style: italic; }
:-ms-input-placeholder { color: $grey-light; font-style: italic; }

.label {
    @extend %button-container;
    border: 1px solid rgba(255, 255, 255, .25);
}

input[type=submit], input[type=reset], button, .button, a.button {
    @extend %button;
    
    .entry & {
        text-decoration: none;
    }
    
    *[role="secondary"] &, *[role="complementary"] & {
        @include adjust-font-size(14px);
        font-weight: 700;
        line-height: inherit;
    }
}

input[type=reset] {
    color: $grey; 
    border-color: $grey-lighter; 
    @include reset-vertical-gradient( $white ); 
    
    &:hover, &:focus, &:active, &.active {
        color: $white;
    }
}

figure {
    
    figcaption {
        font-weight: 700; 
        line-height: 1.5; 
        text-align: center; 
    }
}

pre {
    clear: both;
    overflow: auto;
    color: $primary;
    background: lighten( $gold, 40% );
    @include box-shadow( inset 0 0 2em rgba( $gold, .5 ) );
}

/* A useful class that helps control how lines might break. Use carefully. */
.pre { white-space: nowrap; }





/* ===== Major Structural Elements ===== */

.container {
    margin: 0 auto;
    max-width: px2em( $total-max-width );
    padding-left: $grid-padding;
    padding-right: $grid-padding;
    position: relative;
}

.row {
    margin-left: - $grid-padding;
    margin-right: - $grid-padding;
    margin-bottom: 0;
    @include pie-clearfix(); 
}

.column {
    padding-top: 1em; 
    padding-left: $grid-padding;
    padding-right: $grid-padding;
    padding-bottom: 1em; 
}

/* When an element inside a row needs column-style padding but does not need to float */
.not-column, .section-header {
    padding-left: $grid-padding; 
    padding-right: $grid-padding; 
}



#site_header {
    background: #333;
    @include box-shadow( inset 0 0 2em rgba(0, 0, 0, 0.3) );
    padding: 1em 0 .75em;
    position: relative;
    
    h1 {
        color: #aaa;
        margin: 0;
        text-shadow: 0 0 3px #000;
        
        strong {
            color: #fff;
            font-weight: 400;
        }
    }
}

#status {
    background: #000;
    padding: 1em 0;
    position: relative;
    
    h2 {
        border-left: 4px solid $brick;
        color: $gold;
        @include adjust-font-size(16px);
        line-height: 1.25em;
        margin: 0;
        padding-left: .5em;
    }
}

#nav1 {
    background: #ccc;
    line-height: 1em;
    
    ul {
        margin-left: 0;
    }
    
    li {
        font-family: $alt-font;
        @include adjust-font-size(22px);
        line-height: 44px;
        // text-align: center;
        text-transform: uppercase;
        
        &.jump {
            display: block;
        }
        .arrow {
            color: lighten($primary, 10%);
            font-size: .75em;
        }
    }
    
    a, a:link, a:visited {
        border-bottom: 2px solid #aaa;
        color: #999;
        display: block;
        line-height: 44px;
        padding: 0;
        text-decoration: none;
        // text-shadow: 0 0 5px rgba( 0, 0, 0, 0.4);
    }
    
    a:hover, a:active, a:focus {
        border-bottom: 2px solid $grey;
        color: $brick;
        // text-shadow: 0 0 4px rgba($gold, 0.5);
    }
}








/* ===== Default Container and Interior Page Elements ===== */

.default-container {
    padding: 2em 0; 
}

.content-wrapper {
    background: lighten( $gold, 30% ); 
    border-top: 1px solid $grey; 
    border-bottom: 1px solid $grey-dark; 
    @include box-shadow( 0 1em 1em rgba( 0, 0, 0, 0.1 ) , 0 3px 3px rgba( 0, 0, 0, .3 ) );
}

.intro {
    margin: 0 auto;
    max-width: 700px;
    padding: 1em 2em;
    
    h1 {
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    }
}

.category-module {
    background: $white;
    border: 1px solid $grey-lighter;
    padding: .5em;
    
    .photo {
        // height: 260px;
        // overflow: hidden;
    }
    
    .text {
        padding: .5em;
        
        h2, p {
            margin-top: .25em;
        }
        
        h3 {
            margin-top: 0;
        }
    }
}





/* ===== Main Content Column ===== */

*[role="main"] {
    background: #fff;
    background: rgba( 255, 255, 255, .9);
    padding-top: rhythm( .5 );
    padding-bottom: rhythm( .5 );
    
    .page-title {
        margin: .5em 0 0;
        padding: .25em 0;
    }
    
    & > header, & > hgroup {
        margin-bottom: .5em;
    }

    header, hgroup {
        @include padding-trailer(.5);
        
        h2 {
            @extend %newsheader-block;
            margin: 0;
        }
    }
}

.full-column-hero {
    
    img {
        border: 1px solid #fff;
        @include box-shadow( 0 0 1em rgba(0, 0, 0, .2) );
        margin: .5em 0;
    }
}

.entry {
    margin-bottom: rhythm(1.25);
    
    &.writing-intro {
        margin-bottom: rhythm(.25);
    }
    
    h3 {
        margin-top: .5em;
        
        a {
            text-decoration: none;
        }
        
        a:hover, a:active {
            color: $primary;
            text-decoration: underline;
        }
    }
}

.entry-header {
    @extend %newsheader-block;
    
    .viewmore {
        float: right;
        
        &:after {
            content: " »";
        }
        
        a {
            color: #bbb;
        }
        
        a:hover, a:focus {
            text-decoration: none;
        }
    }
    
    a:hover, a:active {
        color: $grey-dark;
    }
}

.full-column-hero {
}

.column-hero {
    margin-top: - rhythm( .5 ); 
    margin-left: - $grid-padding; 
    margin-right: - $grid-padding; 
}

.breadcrumbs, .pagination {
    @extend %newsheader-block;
    padding: 0.25em 0;
    
    li {
        display: inline-block;
    }
}

.breadcrumbs {
    
    li {
        color: #aaa;
        
        a, a:link, a:visited {
            color: #777;    
        }
        
        &:after {
            content: "»";
        }
        
        &:last-child {
            margin-left: .25em;
            
            &:after {
                content: none;
            }
        }
    }
    
    a {
        display: inline-block;
        padding: .25em;
    }
}

.pagination {
    text-align: center;
    
    li {
        margin-right: .25em;
    }
    
    a {
        display: block; 
        padding: .375em .75em .25em; 
        border: 1px solid lighten($gold, 35%);
        
        &:hover, &:focus {
            background-color: $white;
            color: $gold;
            text-decoration: none;
        }
    }
    
    .active {
        background: lighten($gold, 10%);
        
        a {
            border: 1px solid $gold;
            color: #fff;
            cursor: default;
            
            &:hover, &:focus {
                background: lighten($gold, 10%);
            }
        }    
    }
    
    .previous, .next {
        
        span {
            font-size: 1.25em; 
            line-height: 1; 
        }
    }
    
    a.disabled {
        background: none;
        border: 1px solid #eee;
        color: #ddd;
        cursor: default;
        
        &:hover, &:focus {
            background: none;
        }
    }
    
    .disabled, .disabled:hover, .disabled:focus {
        cursor: default; 
        background-color: $grey-lighter; 
    }
    
    .active, .active:hover, .active:focus {
        cursor: default;
        color: $default-color;
    }
}

/* Previous / Next pattern for single posts / pages */

.previous-next {
    @extend %newsheader-block;
    text-align: center; 
    margin: rhythm(1) 0; 
    @include pie-clearfix; 
    
    .prev-wrapper, .next-wrapper {
        display: inline; 
        padding: 0 .5em; 
    }
    .main-text, .secondary { 
        padding: .25em; 
    }
}





/* ===== Elements within the .text or .entry blocks  ===== */

.text, .entry {
    
    p, ul, ol, dl, dd, blockquote, address, pre, form, table, figure {
        line-height: 1.4em;
        margin-top: rhythm(0.25);
        margin-bottom: rhythm(0.75);
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    li {
        font-size: .95em;
        margin-bottom: rhythm(0.25);
        
        li {
            font-size: .9em;
        }
    }
    
    /* Remove when lists are nested */
    li ul, li ol {
        margin-bottom: 0; 
    }
    
    a {
        // text-decoration: underline;
        
        &:hover, &:focus {
            text-decoration: none; 
        }
        &[href^="tel:"] {
            text-decoration: none; 
            border-bottom: 1px dotted $grey-light; 
        }
    }
    
    figcaption {
        color: $grey-light;
        @include adjust-font-size( 13px );
        font-style: italic;
        font-weight: 400;
        padding: 0 .5em;
        
        strong {
            color: $grey;
            font-weight: 900;
        }
    }
    
    var { color: $grey-dark; }
    
    cite, abbr[title], .abbreviation[title], dfn[title] {
        border-bottom: 1px dotted $primary;
    }
    
    cite a { text-decoration: none; }
    
    abbr, .abbreviation {
        font-size: .875em;
        text-transform: uppercase;
        letter-spacing: 0.125em;
    }
    
    p code, samp, kbd {
        @extend %light-box; 
        display: inline-block; 
        padding: .2em .5em .1em; 
        @include box-shadow( none );
    }
    
    p code, samp { border: 0; }
    
    code {
        color: $primary;
        font-size: .95em;
        line-height: 1.3em;
        tab-size: 3;
    }
    
    s, strike, del { color: $grey-light; }
    
    .sidebar {
        margin: 1em 0; 
        border-top: 2px solid $secondary; 
        border-bottom: 2px solid $secondary; 
        padding: .75em 1.5em; 
        color: $primary; 
        font-size: px2em( 20px ); 
        
        & > p {
            margin-bottom: 0; 
        }
    }
    
    /* Pretty forms */
    form {
        
        .horizontal-list {
            
            li {
                margin-right: 1em; 
            }
        }
        .element-caption {
            color: $grey-light; 
        }
    }
    
    fieldset { 
        margin-bottom: .5em;
        
        legend {
            font-size: px2em( 18px );
            padding: .5em .5em .75em 0;
        }
    }
    
    label.active {
        /* Selected radio/checkboxes will add this class to the parent label */
        color: $default-color; 
    }
    
    /* images from TinyMCE */
    img[style='float: left;'] {
        max-width: 33%; 
        margin-right: 1em; 
        margin-bottom: .5em; 
    }
    img[style='float: right;'] {
        max-width: 33%; 
        margin-left: 1em; 
        margin-bottom: .5em; 
    }
    
    /* Prettier tables if authors use the correct elements */
    table {
        
        caption {
            caption-side: top;
            color: $default-color;
            font-size: px2em( 18px ); 
            text-align: left;
            @include trailer(1); 
        }
        thead, tfoot {
            border-bottom: 1px solid $grey-lighter; 
        }
        tr {
            background-color: #f6f6f6; 
            
            & th {
                background-color: #f0f0f0; 
            }
        }
        tr:nth-child(even) {
            background-color: #f0f0f0; 
        }
        th, td {
            padding: .25em .5em .2em; 
            border-left: 2px solid $white; 
            
            &:first-child {
                border-left: none; 
            }
        }
        tfoot {
            border-top: 1px solid $grey-lighter; 
        }
    }
    
    img {
        margin: 0 0 .25em;
    }
    
    /* For the sample style guide (spec sheet) */
    .example { 
        position: relative; 
        border: 1px solid #ddd; 
        padding: 1em 1em .125em; 
        margin-bottom: 1.25em; 
        @include box-shadow( 0 0 .75em rgba( #000,0.2 ) ); 
        
        &:before {
            content: 'EXAMPLE'; 
            position: absolute; 
            top: 0; right: 0; 
            font-size: px2em( 12px ); 
            color: $white; 
            background-color: $primary; 
            padding: .4em .75em .2em; 
        }
        
        & + .examplecode {
            margin-top: -1.25em; 
        }
    }
    .horizontal-list {
        @extend %horizontal-list; 
    }
    
} /* end .text */





/* ===== Secondary / Complementary Column ===== */

*[role="secondary"], *[role="complementary"] {
    @include vertical-gradient( lighten($gold, 35%) , lighten($gold, 30%) );
    padding-top: rhythm( .5 );
    padding-bottom: rhythm( .5 );
}

.aside-header, .widget {
    
    a.button, a.label {  
        display: inline-block;
        margin: .75em 0 .5em;
        text-decoration: none;
    }
    
    .ie8 & a.label {
        display: none;
    }
}

.widget {
    padding: 0 0 1em;
    text-shadow: 0 0 3px rgba( 255, 255, 255, 0.25 );
    
    p, ul, ol {
        @include adjust-font-size( 13px );
        color: darken( $gold, 15% );
        line-height: 1.75em;
        margin-top: .75em;
        margin-bottom: .75em;
    }
    
    li {
        line-height: 1.75em;
        margin: 0.5em 0;
    }
    
    a:link, a:visited {
        text-decoration: underline;
    }
    
    .widget-header a:link,
    .widget-header a:visited {
        text-decoration: none;
    }
    
    a:hover, a:active {}
    
    img {
        margin: 0;
    }
    
    p.byline, p.attribution {
        @include adjust-font-size(12px);
        font-style: italic;
        line-height: 1.75em;
        margin-left: 1em;
        text-indent: -1em;
        
        a, a:link, a:visited {
            color: inherit;
            text-decoration: underline;
        }
    }
    
    a.button, a.label {  
        display: inline-block;
        margin: 1em 0 .5em;
        text-decoration: none;
    }
}

.widget-header {
    @extend %newsheader-block;
    color: darken( $gold, 10% );
    border-top: 1px solid lighten( $gold, 20% );
    border-bottom: 1px solid lighten( $gold, 20% );
    text-shadow: 1px 1px 0px rgba(255, 255, 255, .2);
    
    a:hover, a:active {
        color: $grey-dark;
    }
}

.twitter-icon {
    display: inline-block;
    vertical-align: middle;
    
    .ie8 & {
        display: none;
    }
}

.tweet, .widget .item {
    margin-bottom: 1em;
    
    .date {
        color: $gold;
        @include adjust-font-size(12px);
        font-style: italic;
        margin-top: -.75em;
        
        &:before {
            content: "– ";
        }
    }
}



/* ===== Main Footer Elements ===== */

#site_footer {
    @include pie-clearfix;
    
    .container {
        padding-top: 2em;
        padding-bottom: 2em;
        text-align: center;
    }
}

.secondary-navigation { 

    .navigation {
        
        a {
            display: block; 
            color: $primary;
            text-align: center;
            padding: .4em .35em; 
            text-decoration: none; 
            font-size: px2em(14px);
            line-height: 1.5; 
            
            &:hover, &:focus {
                color: $white;
                text-shadow: 0 0 3px rgba( 0, 0, 0, 0.4 );
            }
        }
            
        .tier-1 {
            padding: 0 2em; 
            margin-bottom: 1em;
            
            & > a {
                @extend %newsheader-type;
                color: $white;
                border-top: 1px solid $gold; 
                border-top-color: rgba( $white, .2 ); 
                border-bottom: 1px solid $gold;
                border-bottom-color: rgba( $white, .2 ); 
                margin-bottom: .75em;
                padding: .5em;
            
                &:hover, &:focus, &:active {
                    background: rgba( darken( $primary,20% ) , .4 );
                }
            }
        }
    }
}

.copyright {
    clear: both; 
    font-size: px2em( 14px );
    padding: 2em 0 0;
    
    p {
        margin-bottom: 1em; 
    }
    
    span {
        white-space: nowrap;
    }
    
    a {
        color: $primary;
        
        &:hover, &:focus {
            color: $white; 
        }
    }
}





/* ===== General Styles ===== */

.readmore {
    font-size: .95em;
    font-style: italic;
    line-height: inherit;
    
    &:after {
        content: " »";
    }
}

.byline, .attribution {
    color: #999;
    @include adjust-font-size(13px);
    font-style: italic;
    margin: -.5em 0 1.5em;
    
    .widget &:before, blockquote &:before, &:before {
        content: "— ";
    }
    
    a:link, a:visited {
        color: #999;
        text-decoration: none;
        
        &.author {
            color: $primary;
            text-decoration: underline;
        }
    }
    
    .author {
        color: #444;
    }
    
    &, .entry & {
        
        a:hover, a:focus {
            text-decoration: underline;
        }
    }
}

.plans {
    width: 100%;
    
    th, td {
        @include adjust-font-size(12px);
        padding-right: .5em;
    }
}















/* ! ==== Styles allowed in TinyMCE drop down menu ==== */   

.micro { font-size: .875em; }

.serif { 
    font-family: Georgia, serif; 
    font-size: 1.125em; 
}
.smallcaps { 
    text-transform: lowercase; 
    font-variant: small-caps; 
    font-size: 1.25em; 
    letter-spacing: 0.125em; 
}
.serif-smallcaps { 
    @extend .serif; 
    @extend .smallcaps; 
}
.allcaps { 
    text-transform: uppercase; 
    letter-spacing: 0.125em; 
}
.darktext { 
    color: darken( $grey-dark, 6% ); 
}
.redtext { 
    color: #c33; 
}
.yellow-highlight { 
    background-color: #ff8; 
    display: inline-block; 
    padding: .125em .25em; 
    margin: 0 -.125em; 
}
.abbreviation { 
    @extend .smallcaps; 
    border-bottom: 1px dotted $grey-light; 
}



/* ! ==== No JS warning message... more of a suggestion, really ==== */
@include no_js_warning;

/* ! Temporary styles */
.index .entry em {
    color: #999;
    font-size: px2em(12px);
}

#test-window-size {
    color: $grey-light;
	font-family: Verdana, sans-serif;
	font-size: px2em( 12px );
	line-height: 1em;
	position: fixed; top: 2px; right: 2px;
	z-index: 1000;
}



@include html5boilerplate_helpers(); 

@include html5boilerplate_print(); 


/* 
 * When we want to review the markup for W3 and similar errors, turn some of these on 
 * Uses :not selectors a bunch, so only modern browsers will support them
 */
@import "debug";
//@include debug_links;
//@include debug_images;
//@include debug_misc;
@include debug_deprecated;
//@include debug_empty;

/* Keep this at the bottom since it will create a huge set of data */
@import "fonts";